{% extends "base.html" %}

{% block app_content %}
     <div class="table-responsive">
         <h2>Last Spotted DORCs</h2>
                <table class="table table-hover">
                    <tr class="table-row">
                        <th>Callsign</th>
                        <th>Mode</th>
                        <th>Frequency</th>
                        <th>Time</th>
                    </tr>
                    {% for spot in data %}
                    <tr>
                        <td>{{ spot['callsign'] }}</td>
                        <td>{{ spot['mode'] }}</td>
                        <td>{{ spot['frequency'] }}</td>
                        <td>{{ spot['time'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
     </div>
{% endblock %}